In [ ]:
from fastai import *
from fastai.collab import *

In [ ]:
user,item,title = 'userId','movieId','title'

In [ ]:
path = untar_data(URLs.ML_SAMPLE)
path

Downloading http://files.fast.ai/data/examples/movie_lens_sample.tgz

PosixPath('/root/.fastai/data/movie_lens_sample')

In [ ]:
ratings = pd.read_csv(path/'ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0      73     1097     4.0  1255504951
1     561      924     3.5  1172695223
2     157      260     3.5  1291598691
3     358     1210     5.0   957481884
4     130      316     2.0  1138999234

In [ ]:
ratings.describe()

            userId       movieId       rating     timestamp
count  6031.000000   6031.000000  6031.000000  6.031000e+03
mean    350.269773   1892.725419     3.807826  1.127659e+09
std     194.409989   4483.290497     0.961857  1.591801e+08
min      15.000000      1.000000     0.500000  8.538928e+08
25%     176.000000    457.000000     3.000000  9.764243e+08
50%     358.000000   1089.000000     4.000000  1.111489e+09
75%     518.000000   2028.000000     4.500000  1.232810e+09
max     665.000000  58559.000000     5.000000  1.473804e+09

In [ ]:
data = CollabDataBunch.from_df(ratings, seed=42)

In [ ]:
y_range = [0,5.5]

In [ ]:
learn = collab_learner(data, n_factors=50, y_range=y_range)

In [ ]:
learn.fit_one_cycle(4, 5e-3)